<!DOCTYPE html>
<html lang="en">
<body>
    <div class="card-header" style="background-color: #26191b">
        <h1 class="display-4"><a href="/">Currency Converter</a> <strong style="color: red">cum</strong> <a href="/invoicing">Invoice Manager</a></h1>
    </div>
</body>
</html>