<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="card-header" style="background-color: #070f2e !important">
      <h2 class="display-4">
        <a href="/" style="text-decoration: none; color: white">
          <p>Currency Converter and Invoice Manager</p>
        </a>
      </h2>
    </div>
  </body>
</html>
