<!DOCTYPE html>
<html lang="en">
<body>
    <div class="card-header">
        <h1 class="display-4">
            <a href="/">Currency Converter</a> 
            <strong style="color: whitesmoke">and</strong>
            <a href="/invoicing">Invoice Manager</a>
        </h1>
    </div>
  </body>
</html>
