<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
</head>
<body>
    <h1>Currency Converter</h1>
    <form action="/convert" method="POST">
        <input type="number" name="amount" id="amount" placeholder="Enter Amount"/>
        <br/><br/>FROM &nbsp;
        <select id="fromCurrency" name="fromCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="INT">INR</option>
          </select>
          <br/><br/>
          <button type="submit">CONVERT</button>
    </form>
</body>
</html>