<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Manager</title>

    <!-- Bootstrap-Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="text-center">
        <%- include("partials/header"); -%>
        <h1 class="mt-5 mb-5">Create a new Invoice</h1>
    </div>

    <form  action="/invoicing/invoice"  method="POST" style="margin-bottom: -5rem;" >
        
        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <input class="form-control mb-3" name="invoiceNumber" placeholder="Invoice Id*" type="text" required /> 
        </div>
        
        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <input class="form-control mb-3" name="amount" placeholder="Amount in USD*" type="number" required /> 
        </div>
        
        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <label>INR Received:</label>
            <input class="form-control mb-3" name="inrReceived" value="0" placeholder="Amount in INR (default is 0)" type="number" /> 
        </div>

        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <input class="form-control mb-3" name="url" placeholder="Invoice URL" type="text" /> 
        </div>

        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <select name="status" value="pending" style="width: 20rem; margin-bottom: 1rem;">
                <option value="pending">pending</option>
                <option value="paid">paid</option>
                <option value="cancelled">cancelled</option>
          </select>
        </div>

        
        <div id="div_id_location" class="form-group" style="width: 20rem; margin: auto;">
            <select name="client" style="width: 20rem; margin-bottom: 2rem;">
                <%clients.forEach(function(client) { %>
                    <option value="<%=client._id%>"><%=client.name%></option>
                <% }) %>
          </select>
        </div>
          
        
        <div class="form-group text-center"> 
            <input type="submit" value="SUBMIT" class="btn btn-primary btn btn-info"/>
        </div> 
            
    </form>

</body>

<%- include("partials/footer"); -%>

</html>