.card{
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.card-header{
    margin-top: -2px;
    background-color: #070f2e;
    margin-bottom: 16pt;
}

.form-control{
    display: inline;
    width: 15%;
}

#btn-dropdown{
    padding: 10px;
    font-size: 20px;
    margin-left: 12px;
}

.dropdown-item{
    background-color: white;
}

#btn-submit{
    padding-left: 15px;
    margin-bottom: 15pt;
    padding-right: 20px;
}

.list-group-item :hover{
    background-color: beige;
    color: #14204e;
}
