.card {
  /* border: none; */
  text-align: center;
  border: 1px solid rgb(236, 236, 236);
}

.card-header {
  /* background-color: #26191b; */
  text-align: center;
  border: none;
  /* background-color: white; */
  color: whitesmoke;
  /* margin-bottom: 16pt; */
  background-color: #070f2e;
}

.dark {
  background-color: #212529;
}

h4 {
  text-align: center;
}

.form-control {
  display: inline;
  width: 15%;
}

.row {
  margin: 4rem;
  margin-bottom: 4.9em;
}

.dropdown-item {
  background-color: white;
}

.list-group-item {
  font-size: 13pt;
  max-width: 15rem;
  margin: 0 4rem;
}

#btn-submit {
  padding-left: 15px;
  margin-bottom: 15pt;
  padding-right: 20px;
}

.time-zone-table,
#tz-heading {
  max-width: 20rem;
  margin: 0 2rem;
}

@media only screen and (max-width: 600px) {
  .time-zone-table {
    max-width: 24rem;
    margin: 0 auto;
  }

  .list-group-item {
    margin: 0rem;
  }

  .col-sm-12 {
    margin-bottom: 1.5rem;
  }
}

/* #tz-heading{
  margin: 1rem 10rem;
} */
